@{
	ViewData["Title"] = "Office";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="d-flex flex-column align-items-center vh-100">
	<div class="d-flex justify-content-between w-100 p-2 bg-light">
		<div class="d-flex align-items-center gap-2">
			@* <img src="https://www.svgrepo.com/show/499760/mail-mail-email.svg" alt="Mail Icon" width="40" height="40"> *@
			@* <p class="mb-0">Личный кабинет</p> *@
			<div class="">
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
					<svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M11 4H7.2C6.0799 4 5.51984 4 5.09202 4.21799C4.71569 4.40974 4.40973 4.7157 4.21799 5.09202C4 5.51985 4 6.0799 4 7.2V16.8C4 17.9201 4 18.4802 4.21799 18.908C4.40973 19.2843 4.71569 19.5903 5.09202 19.782C5.51984 20 6.0799 20 7.2 20H16.8C17.9201 20 18.4802 20 18.908 19.782C19.2843 19.5903 19.5903 19.2843 19.782 18.908C20 18.4802 20 17.9201 20 16.8V12.5M15.5 5.5L18.3284 8.32843M10.7627 10.2373L17.411 3.58902C18.192 2.80797 19.4584 2.80797 20.2394 3.58902C21.0205 4.37007 21.0205 5.6364 20.2394 6.41745L13.3774 13.2794C12.6158 14.0411 12.235 14.4219 11.8012 14.7247C11.4162 14.9936 11.0009 15.2162 10.564 15.3882C10.0717 15.582 9.54378 15.6885 8.48793 15.9016L8 16L8.04745 15.6678C8.21536 14.4925 8.29932 13.9048 8.49029 13.3561C8.65975 12.8692 8.89125 12.4063 9.17906 11.9786C9.50341 11.4966 9.92319 11.0768 10.7627 10.2373Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
					Написать сообщение
				</button>
			</div>
		</div>

		
		<div class="d-flex align-items-center gap-2">
			<p class="mb-0">@ViewData["name"]</p>
			<a href="/">
				<img src="https://www.svgrepo.com/show/453446/account.svg" alt="Account Icon" width="40" height="40">
			</a>
		</div>

	</div>
	

	<div class="modal fade" id="Modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myModalLabel">Написать сообщение</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<form method="post" asp-action="Office" asp-controller="Office">
						<p>Напиши кому-нибудь</p>
						<div class="">
							<label class="control-label">Кому:</label>
							<input asp-for="To" class="form-control" name="To"/>
							<br/>
							<label class="control-label">Заголовок:</label>
							<input asp-for="Title" class="form-control" name="Title"/>
							<br/>
							<label class="control-label">Текст:</label>
							<textarea asp-for="Text" class="form-control" name="Text"></textarea>
							<br/>
							<button type="submit" class="btn btn-primary">Отправить</button>
							@ViewData["Message"]
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-3 mx-5">
		<form method="get" asp-action="Office" asp-controller="Office" class="d-flex align-items-center mb-2">
			<div class="btn-group" role="group">
				<button type="submit" class="btn btn-outline-secondary btn-sm" name="status">Все</button>
				<button type="submit" class="btn btn-outline-secondary btn-sm" name="status" value="on">Непрочитанные</button>
			</div>
		</form>

		<div class="row justify-content-center">
			<div class="col">
				<div class="bg-white rounded shadow-sm ">
					<table class="table table-hover equal-width">
						<thead class="thead-light">
						<tr>
							<th class="col-3" scope="col">Тема</th>
							<th scope="col">Дата</th>
							<th scope="col">От</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var item in Model)
						{
							<tr class="@(item.Status ? "bg-light" : "bg-white")">
								<td>
									<a href="#" class="text-reset @(item.Status ? "" : "fw-bold")"
									   data-id="@item.Id"
									   onClick='alert("@item.Text")'>@item.Title</a>
								</td>
								<td class="@(item.Status ? "" : "fw-bold")">@item.Date</td>
								<td class="@(item.Status ? "" : "fw-bold")">@item.From</td>
							</tr>
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	</div>

<script>
	$(document).ready(function () {
		$('table a').click(function (e) {
			e.preventDefault();
			var messageId = $(this).attr('data-id');
			console.log(messageId);
			var row = $(this).closest('tr');
			$.post('/Office/MarkAsRead/' + messageId, function () {
				row.removeClass('bg-white').addClass('bg-light');
				row.find('td, td *').removeClass('fw-bold');
			});
		});
	});
</script>


